{% extends 'base.html' %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 my-auto form-container text-center rounded mx-auto my-2 py-2">
            <h1>Oops!</h1>
            <h2>We can't seem to find the page you were looking for</h2>
            <p>Error 404: Not Found</p>
            <div>
                <p>Here are some helpful links instead</p>
                <a href="{% url 'home' %}" class="btn">Home</a>
                <a href="{% url 'contact' %}" class="btn">Contact</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}