{% extends 'base.html' %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 my-auto form-container text-center rounded mx-auto my-2 py-2">
            <h1>Error 500: Internal Server Error </h1>
            <h2>The server has encountered an unexpected condition or configuration problem
                that prevents it from fulfilling the request made by the browser!</h2>
            <div>
                <p>Here are some helpful links instead</p>
                <a href="{% url 'home' %}" class="btn">Home</a>
                <a href="{% url 'contact' %}" class="btn">Contact</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}