@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', sans-serif;
}
.container-fluid p {
  line-height: 2.2;
}

.container-fluid section {
  padding: 30px;
  margin-bottom: 100px;
}

.container-fluid h2 {
  margin: 2rem 1rem;

}

.min-h-screen{
  min-height: 100vh;
}
/*===============HOME PAGE========================*/

/*===============Carousel styling========================*/
.break-container{
  width:100vw;
  position:relative;
  left:calc(-1 * (100vw - 100%)/2);
}
.carousel-inner {
  height: 100%; 
}

.carousel-item-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  box-sizing: border-box;
}
.carousel-item {
  position: relative;
  height: 80vh;
}
.carousel-item img {
  max-width: 100%;
  height: auto; 
  display: block;
}

.carousel-item-text h3,
.carousel-item-text p {
  margin:0;
  
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-buttons a {
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background for better visibility */
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  height: 40px;
}

.carousel-buttons a:hover {
  background-color: rgba(0, 0, 0, 0.7);
  /* Darken the background on hover */
}
/*================HERO BLOCK==========================*/
.hero-block {
  position: relative;
  margin-top:40px;
}

.hero-block .btn {
  color: rgb(255, 255, 255);
  background-color: rgb(34, 34, 34);
  border-color: rgb(34, 34, 34);
  padding: 30px;
}

.custom-width-btn {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 80px;
  margin: 20px auto;
}

.custom-width-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

@media screen and (min-width: 992px) {
  .hero-image-wrapper{
    display: flex;
  align-items: center; 
  justify-content: center;
  height: 100vh;
  }
  .hero-image{
    margin:10px;
  }
  .hero-image img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
  }

}

.add-info-block {
  background-color: rgb(245, 245, 245);
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5)
}

.our-services, .digitize-sect {
  background-color: rgb(33, 37, 41);
  color: white;
}

label{
  display: none;
}

label[for="id_remember"]{
  display: inline-block;
}

.star-list {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.star-list li::before {
  content: '\2605';
  color: gold;
  margin-right: 8px;
}

a {
  text-decoration: none;
}

/*============ login page and sign up======== */
.login-container {
  width: max(600px, 90%)
}

 input[type="text"], 
 input[type="email"],
 input[type="password"]{
width: 40%;
height: 2.5rem
}
.helptext{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}

.l-bg-cherry {
  background: linear-gradient(to right, #493240, #f09) !important;
  color: #fff;
}

.l-bg-blue-dark {
  background: linear-gradient(to right, #373b44, #4286f4) !important;
  color: #fff;
}

.l-bg-green-dark {
  background: linear-gradient(to right, #0a504a, #38ef7d) !important;
  color: #fff;
}

.l-bg-orange-dark {
  background: linear-gradient(to right, #a86008, #ffba56) !important;
  color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas,
.card .card-statistic-3 .card-icon-large .far,
.card .card-statistic-3 .card-icon-large .fab,
.card .card-statistic-3 .card-icon-large .fal {
  font-size: 110px;
}

.card .card-statistic-3 .card-icon {
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  color: #000;
  position: absolute;
  right: -5px;
  top: 20px;
  opacity: 0.1;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}

.l-bg-green {
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
  color: #fff;
}

.l-bg-orange {
  background: linear-gradient(to right, #f9900e, #ffba56) !important;
  color: #fff;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}

/* about page */
.about-container{
  background-color: rgba( 255, 255, 255, 0.9);
}

.about-list{
  background-color: rgba(0, 0, 0, 0.0);
}

.about-container h6,
.about-container h4{
  font-weight: bold;
}

.logo {
  animation: Fade 5s;
}

li {
  list-style-type: none
}


.gradient-about-left{
  background: rgb(245,245,245);
background: linear-gradient(90deg, rgba(245,245,245,1) 10%, rgba(245,245,245,0) 100%);
}

.gradient-about-right{
  background: rgb(245,245,245);
background: linear-gradient(270deg, rgba(245,245,245,1) 10%, rgba(245,245,245,0) 100%);
}

.left-col-slide{
  opacity: 0;
  animation: SlideLeft 2s linear 1s forwards;
}

.left-col-slide-delay{
  opacity: 0;
  animation: SlideLeft 2s linear 1.5s forwards;
}

.right-col-slide{
  opacity: 0;
  animation: SlideRight 2s linear 1s forwards;
}

.right-col-slide-delay{
  opacity: 0;
  animation: SlideRight 2s linear 1.5s forwards;

.form-group {
  margin: 2rem;
}

.form-label {
  display: block;

}

/* .contact-container {
   background-color: rgba( 255, 255, 255, 0.9);
   width: min(90%, 800px);
} */
/*===========Contact Page and login Styling ========*/
.contact-container .btn,
.contact-container .btn:active,
.login-container button {
  color: rgb(255, 255, 255);
  background-color: rgb(34, 34, 34) !important;
  border-color: rgb(34, 34, 34) !important;
  padding: 30px;
  border-radius: 5px;
/*btn*/
display: inline-block;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
user-select: none;
border: 1px solid transparent;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0.25rem;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.contact-container .btn:hover,
.login-container button:hover{
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: black;
}
/* footer */
.footer{
position:relative;
bottom:0;
left:0;
}

/* Keyframes */
@keyframes Fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes SlideLeft{
  0% {transform: translate(-400px);opacity: 0;}
  100%{transform: translate(0px);opacity: 1;}
}

@keyframes SlideRight{
  0% {transform: translate(400px);opacity: 0;}
  100%{transform: translate(0px);opacity: 1;}
}


