.transaction-header {
  background-color: #f9f9f9;
  padding: 1rem 1.25rem;
}

.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.avatar.sm {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 0.818125rem;
}

.table-nowrap .table td,
.table-nowrap .table th {
  white-space: nowrap;
}

.table > :not(caption) > * > * {
  padding: 0.75rem 1.25rem;
  border-bottom-width: 1px;
}

table th {
  font-weight: 600;
  background-color: #eeecfd !important;
}

.fa-arrow-up {
  color: #00ced1;
}

.fa-arrow-down {
  color: #ff00ff;
}
