{% extends "base.html" %}
{% load static %}
<!--  -->
{% block content %}
<!--  -->


<div class="col-12 container-fluid bg-succes pt-3 text-center text-white">

<h2>Welcome to Budget Buddies, </h2>
<p><em>Your go-to companion for achieving financial success!</em></p>

<div><strong>Our Mission</strong></div>

<p>At Budget Buddies, we believe that financial freedom should be accessible to everyone. Our mission is to empower individuals to take control of their finances, make informed decisions, and achieve their financial goals. 
</p>
<div class="pt-3"><strong>What We Offer</strong></div>

<p class="pt-3"><strong>Easy Expense Tracking: </strong>Say goodbye to the hassle of managing your expenses. Budget Buddies simplifies expense tracking, allowing you to effortlessly log your transactions and gain insights into your spending habits.
</p>
<p class="pt-3"><strong>Goal Setting and Monitoring: </strong>
Set realistic financial goals, whether it's saving for a vacation, an emergency fund, or paying off debts. Budget Buddies helps you monitor your progress and provides actionable insights to keep you on track.
</p>
<p class="pt-3"><strong>Budgeting Made Simple: </strong>
Creating and sticking to a budget has never been easier. Our user-friendly interface lets you set up budgets for various categories and provides real-time updates on your spending against your budget limits.
</p>
<p class="pt-3"><strong>Insightful Reports: </strong>
Budget Buddies generates comprehensive reports that give you a clear picture of your financial health. Understand where your money goes, identify areas for improvement, and make informed decisions to optimize your spending.
</p>
<p class="pt-3"><strong>Why Budget Buddies?: </strong>
- **User-Friendly**: Our app is designed with simplicity in mind, making it easy for anyone to use, regardless of their financial expertise.

- **Secure and Private**: We prioritize the security and privacy of your financial data. Your information is encrypted and stored securely.

- **Accessible Anywhere, Anytime**: Whether you're at home or on the go, Budget Buddies is accessible from any device. Your financial information syncs seamlessly across all platforms.
</p>
<p class="pt-3"><strong>Get Started Today: </strong>
Join the Budget Buddies community and embark on a journey towards financial well-being. Take control of your money, plan for the future, and enjoy the peace of mind that comes with financial stability.

Ready to get started? <a class="nav-link" href="{% url 'account_signup' %}">Register</a> today and let Budget Buddies be your financial guide!

</div>

{%endblock%}