{% extends "base.html" %} {% load static %}
<!--  -->
{% block content %}
<!--  -->
<div class="container about-container text-center my-3 p-4 rounded">
  <div class="row align-items-center">
    <div class="col-12 col-md-6 text-lg-end">
      <h2>Welcome to Budget Buddies</h2>
      <h3 class='text-secondary'>Your Personal Savings Companion</h3>
      <p><em>Your go-to companion for achieving financial success!</em></p>
    </div>
    <div class="col-12 col-md-6 text-lg-start gradient-about-left p-2">
      <h5>Our Mission</h5>

      <p>
        At Budget Buddies, we believe that financial freedom should be
        accessible to everyone. Our mission is to empower individuals to take
        control of their finances, make informed decisions, and achieve their
        financial goals.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h4>What We Offer</h4>
    </div>
  </div>
  <div class="row">
    <div class="left col-12 col-md-4 text-lg-start ">
      <div class="row h-50">
        <div class="col gradient-about-left p-2 rounded left-col-slide">
          <h5>Easy Expense Tracking <i class="fa-solid fa-arrow-trend-up"></i></h5>
          <p>
            Say goodbye to the hassle of managing your expenses. Budget Buddies
            simplifies expense tracking, allowing you to effortlessly log your
            transactions and gain insights into your spending habits.
          </p>
        </div>
      </div>
      <div class="row h-50 align-items-end rounded">
        <div class="col gradient-about-left p-2 rounded left-col-slide-delay">
          <h5>Goal Setting and Monitoring <i class="fa-regular fa-credit-card"></i></h5>
          <p>
            Set realistic financial goals, whether it's saving for a vacation,
            an emergency fund, or paying off debts. Budget Buddies helps you
            monitor your progress and provides actionable insights to keep you
            on track.
          </p>
        </div>
      </div>
    </div>
    <div class="middle col-12 col-md-4 order-first order-md-0">
      <img
        class="img-fluid d-block logo shadow rounded"
        src="https://github.com/DarrachBarneveld/january-hackathon-2024/blob/main/static/images/logo-no-bg.png?raw=true"
        alt="logo"
      />
    </div>
    <div class="right col-12 col-md-4 text-lg-end ">
      <div class="row h-50">
        <div class="col gradient-about-right p-2 rounded right-col-slide">
          <h5><i class="fa-solid fa-sterling-sign"></i> Budgeting Made Simple</h5>
          <p>
            Creating and sticking to a budget has never been easier. Our
            user-friendly interface lets you set up budgets for various
            categories and provides real-time updates on your spending against
            your budget limits.
          </p>
        </div>
      </div>
      <div class="row h-50 align-items-end">
        <div class="col gradient-about-right p-2 rounded right-col-slide-delay">
          <h5><i class="fa-solid fa-chart-pie"></i> Insightful Reports</h5>
          <p>
            Budget Buddies generates comprehensive reports that give you a clear
            picture of your financial health. Understand where your money goes,
            identify areas for improvement, and make informed decisions to
            optimize your spending.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-md-6">
      <h4>Why Budget Buddies?</h4>
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item about-list"
        >
          <div>
            <div class="fw-bold">User-Friendly</div>
            Our app is designed with simplicity in mind, making it easy for
            anyone to use, regardless of their financial expertise.
          </div>
        </li>

        <li
          class="list-group-item about-list"
        >
          <div>
            <div class="fw-bold">Secure and Private</div>
            We prioritize the security and privacy of your financial data. Your
            information is encrypted and stored securely.
          </div>
        </li>

        <li
          class="list-group-item about-list"
        >
          <div>
            <div class="fw-bold">Accessible Anywhere, Anytime</div>
            Whether you're at home or on the go, Budget Buddies is accessible
            from any device. Your financial information syncs seamlessly across
            all platforms.
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <h4>Get Started Today</h4>
      <p>
        Join the Budget Buddies community and embark on a journey towards
        financial well-being. Take control of your money, plan for the future,
        and enjoy the peace of mind that comes with financial stability. Ready
        to get started?<a class="nav-link" href="{% url 'account_signup' %}">Register</a>today
        and let Budget Buddies be your financial guide!
      </p>
    </div>
  </div>
</div>

{%endblock%}
