{% extends "base.html" %}
<!--  -->
{% block content %}
<!--  -->
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
  </script>
<script type="text/javascript">
  (function () {
    
    emailjs.init("pQJecQLuAywAFRl9x");
  })();
</script>
<script type="text/javascript">
    function sendMail() {
        document.getElementById('contact-form').addEventListener('submit', function(event) {
            event.preventDefault();

            emailjs.sendForm('service_54wv0da', 'template_3c987fp', '#contact-form')
            .then(function() {
                console.log('Success!');

                let success = document.getElementById("sendButton");

                let contactForm = document.getElementById('contact-form');

                contactForm.reset();

                success.innerHTML = "Successfully Sent!";

                setInterval(() => window.location.reload(true), 3000)
            }, function(error) {
                console.log('Failed...', error);
            });
        });
    }

</script>
<div class="contact-container container rounded my-3">
  <div class="pt-3 text-center contact-text">
    <h1>Contact Page</h1>
    <p>
      Drop us a message if you are having any issues with the app or if you want
      to leave some feedback!
    </p>
    
    <form id="contact-form" role="form>
      {% csrf_token %}
      <div class="form-group">
      <label class="form-label" for="user_name">Your Name:</label>
      <input size="25" type="text" name="user_name" id="name" required />
      </div>
      <div class="form-group">
      <label class="form-label" for="user_email">Your Email Address:</label>
      <input size="25" type="email" name="user_email" id="email" data-rule="email" required/>
      </div>
      <div class="form-group">
      <label class="form-label" for="subject">Message Subject:</label>
      <input size="25" type="text" name="subject" id="subject"/>
      </div>
      <div class="form-group">
      <label class="form-label" for="message">Message:</label>
      <textarea rows="6" cols="30" name="message" rows="10" id="message" required></textarea>
      </div>
      <div>
      <button class="btn btn-primary  my-2" id="sendButton" onclick='sendMail()' value="Send" type="submit">Send Message</button>
      </div>
    </form>
  </div>
</div>

{%endblock%}
