{% extends "base.html" %}
<!--  -->
{% block content %}
<!--  -->

<div class="pt-3 text-center contact-text" >
    <h1>Contact Page</h1>
        <p>
            Drop us a message if you are having any issues with the app or if you want to leave some feedback!
        </p>
        <form action="/contact/" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Submit">
        </form>
</div>
<div pt-3 text-center class="contact-text">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{%endblock%}
