{% extends "base.html" %}
<!--  -->
{% block content %}
<!--  -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script type="text/javascript">
    (function() {
        // https://dashboard.emailjs.com/admin/account
        emailjs.init('KTp6qQT45uX7GNEbb');
    })();
</script>
<script type="text/javascript">
    window.onload = function() {
        document.getElementById('contact-form').addEventListener('submit', function(event) {
            event.preventDefault();
            // generate a five digit number for the contact_number variable
            this.contact_number.value = Math.random() * 100000 | 0;
            // these IDs from the previous steps
            emailjs.sendForm( 'BB_Contact', 'bb_contact_form', this)
                .then(function() {
                    console.log('SUCCESS!');
                }, function(error) {
                    console.log('FAILED...', error);
                });
        });
    }
</script>
<div class="container contact-container rounded add-info-block my-3">
    <div class="pt-3 text-center contact-text" >
        <h1>Contact Page</h1>
            <p>
                Drop us a message if you are having any issues with the app or if you want to leave some feedback!
            </p>
            {% comment %} action="/contact/" method="post" {% endcomment %}
            <form  id="contact-form">
            {% csrf_token %}
            {% for field in form %}
                <div>
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary  my-2" value="submit">Send</button>
            </form>
    </div>
    <div pt-3 text-center class="contact-text">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{%endblock%}
