{% extends 'base.html' %} 
{% load static %}


{% block extra_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/transactions.css' %}"
/>
{% endblock %} {% block content %}

<div class="d-flex justify-content-between transaction-header">
  <div>
    <h1 class="mb-0">{{goal.name}}</h1>
    <p class="text-secondary mb-0">Current goal status</p>
  </div>
  <div class="d-flex gap-4">
    <div>
      <div class="d-flex align-items-center">
        <span>Target</span>
        <i class="fa-solid fa-trophy text-warning ms-2"></i>
      </div>

      <h4 class="counter">{{goal.target_amount}}</h4>
    </div>
    <div>
      <div class="d-flex align-items-center">
        <span>Current</span>
        <i class="fa-solid fa-dollar-sign text-success ms-2"></i>
      </div>

      <h4 class="text-success">{{goal.current_amount}}</h4>
    </div>

    <div>
      <div class="d-flex align-items-center">
        <span>Buddies</span>
        <i class="fa-solid fa-user text-primary ms-2"></i>
      </div>

      <h4 class="text-primary">{{depositing_users_count}}</h4>
    </div>
  </div>
</div>

<div id="chart"></div>

{% if depositing_users_count|add:0 > 1 %}
  <div id="barChart"></div>
{% endif %}

<div class='container text-center my-2'>
  <a class='btn btn-success text-uppercase' href="{% url 'add_savings_deposit' goal_pk=goal.pk %}">Deposit to {{goal.name}}!</a>
</div>


<div class="row">
  <div class="col-12 mb-3 mb-lg-5">
    <div class="position-relative card table-nowrap table-card">
      <div class="card-header align-items-center">
        <h2 class="mb-0">{{goal.name}} Transaction History</h2>
        <p class="mb-0 small text-muted">Latest transactions</p>
      </div>
      <div class="table-responsive">
        <table class="table mb-0">
          <thead class="small text-uppercase bg-body text-muted">
            <tr>
              <th>Transaction ID</th>
              <th>Date</th>
              <th>Description</th>
              <th>Amount</th>
              <th>User</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in goal.saving_goal.all %}
            <tr class="align-middle">
              <td>{{ transaction.id }}</td>
              <td>{{ transaction.date }}</td>
              <td>{{ transaction.description }}</td>
              <td>
                <div class="d-flex align-items-center">
                  <span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
                  <span>${{ transaction.amount }}</span>
                </div>
              </td>
              <td>
                <span class="badge fs-6 fw-normal bg-tint-success text-success text-capitalize"
                  >{{transaction.user.username}}</span
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <span id='userDeposits' class='hidden'>{{ user_deposits|safe }}</span>
</div>
<script>

    const userDeposits = JSON.parse(document.querySelector('#userDeposits').textContent);
    const GOAL_AMOUNT = {{goal.target_amount}};
    const GOAL_NAME = `{{goal.name}} Savings Goal`
    const CURRENT_AMOUNT = {{goal.current_amount}};

  
    const percentage = (CURRENT_AMOUNT / GOAL_AMOUNT) * 100;
    const user = `{{request.user.username}}`

    const options = {
    chart: {
      height: 280,
      type: "radialBar",
    },

    series: [percentage.toFixed(2)],

    plotOptions: {
      radialBar: {
        hollow: {
          margin: 15,
          size: "70%",
        },

        dataLabels: {
          showOn: "always",
          name: {
            offsetY: -10,
            show: true,
            color: "#888",
            fontSize: "13px",
          },
          value: {
            color: "#111",
            fontSize: "30px",
            show: true,
          },
        },
      },
    },

    stroke: {
      lineCap: "round",
    },
    labels: ["Progress"],
  };

  const chart = new ApexCharts(document.querySelector("#chart"), options);
  chart.render();

  const barChartElement = document.querySelector('#barChart');

  if(barChartElement){


    const barSeries = [];

    for (let i = 0; i < userDeposits.length; i++) {
        let user = userDeposits[i].user;
        let total = userDeposits[i].total;

        let userSeries = {
            name: user,
            data: [total]
        };

        barSeries.push(userSeries);
    }

    const barOptions =  {
        series: barSeries,
        chart: {
        type: 'bar',
        height: 350,
        stacked: true,
      },
      plotOptions: {
        bar: {
          horizontal: true,
          dataLabels: {
            total: {
              enabled: true,
              offsetX: 0,
              style: {
                fontSize: '13px',
                fontWeight: 900
              }
            }
          }
        },
      },
      stroke: {
        width: 1,
        colors: ['#fff']
      },
      title: {
        text: GOAL_NAME
      },
      xaxis: {
        categories: [{{goal.target_amount}}],
        labels: {
          formatter: function (val) {
            return '$' + val
          }
        }
      },
      yaxis: {
        title: {
          text: undefined
        },
        labels: {
          formatter: function (val) {
            return '$' + val
          }
        },
        max: {{goal.target_amount}} // Set y-axis maximum value to 10,000
      },
      tooltip: {
        y: {
            formatter: function (val) {
                return '$' + val
            }
        }
      },
      fill: {
        opacity: 1
      },
      legend: {
        position: 'top',
        horizontalAlign: 'left',
        offsetX: 40
      }
      };


    const barChart = new ApexCharts(barChartElement, barOptions);
    barChart.render()

  }
</script>

{% endblock %}
