{% extends 'base.html' %}

{% block content %}
  <h1>Saving Goals</h1>

<div>
  <a href="{% url 'add_saving_goal' %}" class="d-flex justify-content-center">

  <div class='btn-primary btn text-white'><i class="fa-solid fa-plus"></i>
    Add New Goal</div>
  </a>

  {% for goal in goals %}<div class="container py-4">
    <article class="postcard dark info glossy-border p-3">
      <div class="saving-container d-flex flex-column flex-md-row justify-content-between">
        <div class="goals-text mb-3 mb-md-0">
          <a href="{% url 'saving_goal_details' goal_pk=goal.pk %}">
            <p class="mb-0 fw-bold text-black text-center">
              <div class="d-md-flex align-items-center">
                <span class="text-uppercase d-inline d-md-none mb-2 mb-md-0  me-md-4">{{ goal.name | truncatechars:10 }}</span>
                <span class="text-uppercase d-none d-md-inline me-md-4">{{ goal.name }}</span>
  
                <div class="text-black">
                  <div class="d-md-flex">
                    <div class="text-primary me-2">Target Amount:</div>
                    <div>{{ goal.target_amount }}€</div>
                  </div>
                  <div class="d-md-flex">
                    <div class="text-success me-2">Current Amount:</div>
                    <div>{{ goal.current_amount }}€</div>
                  </div>
                </div>
              </div>
            </p>
          </a>
        </div>
        <div class="save-buttons d-flex flex-row">
          <a href="{% url 'update_saving_goal' pk=goal.pk %}" class="btn btn-outline-primary me-2 d-flex align-items-center">Update</a>
          <a href="{% url 'add_savings_deposit' goal_pk=goal.pk %}" class="btn btn-outline-success d-flex align-items-center">Add Deposit</a>
        </div>
      </div>
    </article>
  </div>
</div>  
  {% endfor %}
{% endblock %}

