

{% extends 'base.html' %}

{% block content %}

<h1>{{goal.name}}</h1>
<h1>{{goal.target_amount}}</h1>
<h1>{{goal.current_amount}}</h1>
<ul>
    {% for transaction in goal.saving_goal.all %}
        <li>{{ transaction.amount }}</li>
    {% endfor %}
</ul>

<div id="chart"></div>



<script>

    const GOAL_AMOUNT = {{goal.target_amount}};
    const CURRENT_AMOUNT = {{goal.current_amount}};

    const percentage = (CURRENT_AMOUNT / GOAL_AMOUNT) * 100;


    

    
    var options = {
    chart: {
      height: 280,
      type: "radialBar",
    },
  
    series: [percentage.toFixed(2)],
  
    plotOptions: {
      radialBar: {
        hollow: {
          margin: 15,
          size: "70%",
        },
  
        dataLabels: {
          showOn: "always",
          name: {
            offsetY: -10,
            show: true,
            color: "#888",
            fontSize: "13px",
          },
          value: {
            color: "#111",
            fontSize: "30px",
            show: true,
          },
        },
      },
    },
  
    stroke: {
      lineCap: "round",
    },
    labels: ["Progress"],
  };
  
  var chart = new ApexCharts(document.querySelector("#chart"), options);
  
  chart.render();
  
  </script>

{% endblock %}
