<!-- templates/transaction_list.html -->

{% extends 'base.html' %}

{% block content %}
  <h1>Transaction List</h1>

  <!-- Display form for adding a new transaction or depositing money towards a saving goal -->
  <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}


    <button type="submit">Perform Action</button>
  </form>

  <!-- Display transactions -->
  <h2>Transactions</h2>
  {% for transaction in transactions %}
    <p>
      {{ transaction.description }} - Amount: {{ transaction.amount }}€ - Date: {{ transaction.date }}
      <a href="{% url 'update_transaction' pk=transaction.pk %}">Update</a>
      <a href="{% url 'delete_transaction' pk=transaction.pk %}">Delete</a>
    </p>
  {% endfor %}

  <!-- Display saving goals -->
  {% if saving_goals %}
    <h2>Saving Goals</h2>
    {% for goal in saving_goals %}
      <p>
        {{ goal.name }} - Target Amount: {{ goal.target_amount }}€ - Current Amount: {{ goal.current_amount }}€
        <a href="{% url 'update_saving_goal' pk=goal.pk %}">Update</a>
        <a href="{% url 'add_savings_deposit' goal_pk=goal.pk %}">Add Deposit</a>
        <a href="{% url 'delete_saving_goal' pk=goal.pk %}">Delete</a>
      </p>
    {% endfor %}
  {% endif %}

{% endblock %}
