{% extends "base.html" %} {% load static %} {% block extra_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/users_list.css' %}"
/>
{% endblock %}
<!--  -->
{% block content %}
<!--  -->

<div class="container">
  <div class="text-center p-4"><h1>All Budget-Buddies Users</h1></div>
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box clearfix">
        <div class="table-responsive">
          <table class="table user-list">
            <thead>
              <tr>
                <th><span>User</span></th>
                <th><span>Saved</span></th>
                <th class="text-center"><span>Created</span></th>
                <th><span>Add</span></th>
              </tr>
            </thead>

            <tbody>
              {% for user in all_users %}

              <tr>
                <td>
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/6596/6596121.png"
                    alt=""
                  />
                  <a href="#" class="user-link text-capitalize"
                    >{{user.username}}</a
                  >
                  <span class="user-subhead">Admin</span>
                </td>
                <td>$1000</td>
                <td class="text-center">
                  <span class="label label-default">Date</span>
                </td>
                <td>
                  <a href="#" class="table-link">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
